In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

df = pd.read_csv("esercizio_bikesharing_sintetico.csv")

In [3]:
#
df["data_completa"] = pd.to_datetime(df["data_completa"])
df.head()

,data_completa,mese,giorno_settimana,is_weekend,temp_c,pioggia_mm,evento,total_rentals,settimana_anno
0,2025-01-01,1,2,0,8.0,0.0,0,122,1
1,2025-01-02,1,3,0,4.7,0.0,0,94,1
2,2025-01-03,1,4,0,9.2,0.0,0,104,1
3,2025-01-04,1,5,1,9.7,0.0,0,116,1
4,2025-01-05,1,6,1,2.5,0.0,0,131,1

In [6]:
#prima il passato, poi il futuro.
df = df.sort_values("data_completa").reset_index(drop=True)

In [7]:
df["total_rentals"].describe()

#Domanda: il target è su scala piccola o grande?

#Se valori nell’ordine di decine / centinaia → scala medio-piccola
#Se migliaia → scala grande
#Questo serve per interpretare MAE e RMSE dopo.

count    365.000000
mean     121.652055
std       57.801403
min       10.000000
25%       79.000000
50%      118.000000
75%      169.000000
max      244.000000
Name: total_rentals, dtype: float64

In [ ]:
dict(zip(features_eng, model.coef_))